<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .custom-btn {
      background-color: #007bff;
      color: white;
      border: none;
    }
    .custom-btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Projects</h1>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="path/to/image1.jpg" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum dui at orci porttitor, sit.

 </p>
          <a href="#" class="btn custom-btn">Ver Más</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="path/to/image2.jpg" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Project 2</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum dui at orci porttitor, sit.

 </p>
          <a href="#" class="btn custom-btn">Ver Más</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="path/to/image3.jpg" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Project 3</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum dui at orci porttitor, sit.

 </p>
          <a href="#" class="btn custom-btn">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


